<ion-header>
  <ion-toolbar>
    <ion-title>Nivel Nueve</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-progress-bar [value]="progress"></ion-progress-bar>
  <div class="image-container">
    <img src="assets/img/nivel-nueve-6.png" alt="Imagen del Nivel">
  </div>
  <div class="button-container">
    <ion-button expand="block" color="secondary" (click)="handleCorrectAnswer()">RESPUESTA 1</ion-button>
    <ion-button expand="block" color="secondary" (click)="handleIncorrectAnswer()">RESPUESTA 2</ion-button>
    <ion-button expand="block" color="secondary" (click)="handleIncorrectAnswer()">RESPUESTA 3</ion-button>
    <ion-button expand="block" color="secondary" (click)="handleIncorrectAnswer()">RESPUESTA 4</ion-button>
  </div>
</ion-content>
