ion-header {
    background-color: #f8f9fa; // Color claro para el encabezado
    ion-toolbar {
      --background: #ffffff; // Fondo blanco
      color: #ffffff; // Texto oscuro
    }
  }
  ion-progress-bar {
    margin: 20px 0;
    height: 20px;
    border-radius: 10px;
    --background: #e0e0e0;
    --background-activated: #007bff; // Color azul para el progreso
  }
  
  
  ion-content {
    .ion-padding {
      padding: 20px;
    }
  
    h2 {
      font-size: 1.5rem;
      color: #f9f9f9; // Color del texto
      margin-bottom: 10px;
      text-align: center; // Centrar el texto del encabezado
    }
  
    p {
      font-size: 1rem;
      color: #ffffff; // Color más claro para el texto
      margin-bottom: 20px;
      text-align: center; // Centrar el texto del párrafo
    }
  
    .options-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr); // Dos columnas
      grid-template-rows: repeat(2, 1fr); // Dos filas
      height: 300px; // Altura total del contenedor
      gap: 10px; // Espacio entre las opciones
      
      
  
      ion-item {
        display: flex;
        align-items: center;
        justify-content: center; // Centrar contenido
        border: none; // Eliminar borde del ion-item
        background-color:  rgb(18, 18, 18); // Eliminar fondo del ion-item
        padding: 0; // Eliminar padding del ion-item
        cursor: pointer; // Cambia el cursor a mano
        
  
        .image-container {
          width: 100px; // Tamaño del contenedor
          height: 100px; // Tamaño del contenedor
          border-radius: 50%; // Bordes redondeados
          overflow: hidden; // Ocultar desbordamiento
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: rgb(18, 18, 18);
  
          img {
            width: 100%; // Tamaño de la imagen
            height: 100%; // Tamaño de la imagen
            object-fit: cover; // Para mantener la proporción de la imagen
            border-radius: 50%; // Asegura que la imagen sea redonda
            
          }
        }
  
        &:hover {
          background-color: rgb(18, 18, 18); // Color de fondo al pasar el mouse
        }
      }
    }
  }
  