// Variables de color
$primary-color: #4a90e2;
$secondary-color: #f9f9f9;
$text-color: #333;
$white-color: white; // Color blanco

// Estilos para el encabezado
ion-header {
  background-color: $primary-color;
  color: $white-color;

  ion-toolbar {
    --background: transparent; // Fondo transparente
  }

  ion-title {
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center; // Centrar el título
  }
}

// Contenedor de imagen
.image-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;

  img {
    max-width: 100%; // Mantiene la imagen dentro de los límites
    height: auto; // Mantiene la proporción
    border-radius: 8px; // Bordes redondeados
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); // Sombra suave
  }
}

// Contenedor de texto
.text-container {
  text-align: center; // Centra el texto
  margin: 10px 0;

  ion-label {
    font-size: 1.2rem; // Tamaño de fuente
    color: $white-color; // Color del texto
    font-weight: 500; // Negrita moderada
  }
}
ion-progress-bar {
  margin: 20px 0;
  height: 20px;
  border-radius: 10px;
  --background: #e0e0e0;
  --background-activated: #007bff; // Color azul para el progreso
}




// Estilo del botón
ion-button {
  margin-top: 20px; // Espacio arriba del botón
  border-radius: 8px; // Bordes redondeados
  font-size: 1.2rem; // Tamaño de fuente del botón
  background-color: $primary-color; // Color de fondo del botón
  --color: $white-color; // Color del texto

  &:hover {
    background-color: darken($primary-color, 10%); // Color al pasar el mouse
  }
}