<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Perfil</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <div *ngIf="user" class="form-container">
    <img *ngIf="imagen" [src]="imagen" alt="Sin imagen" class="logo" />
    <h2>Nombre: {{ user.nombre }}</h2>
    <p>Email: {{ user.email }}</p>
  </div>
  
  <ion-button (click)="takePicture()">Tomar Foto</ion-button>

  <ion-button [routerLink]="['/cambionombre']">Cambiar nombre</ion-button>

  <ion-button [routerLink]="['/cambioclave']">Cambiar Contraseña</ion-button>

  
  <ion-list>
    <ion-item *ngFor="let logro of logros">
      <ion-thumbnail slot="start">
        <img [src]="logro.imagen" alt="{{ logro.nombre }}">
      </ion-thumbnail>
      <ion-label>
        <h2>{{ logro.nombre }}</h2>
        <p>{{ logro.descripcion }}</p>
        <p>{{ logro.fecha_obtencion | date:'short' }}"></p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
