<ion-header>
  <ion-toolbar>
    <ion-title>Nivel Nueve</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-progress-bar [value]="progress"></ion-progress-bar>
  <div class="image-container">
    <img src="assets/img/nivel-nueve-7.png" alt="Imagen del Nivel">
  </div>
  <div class="text-container">
    <ion-label>¿La seña de la imagen significa Cara?</ion-label>
  </div>
  <ion-list>
    <ion-item>
      <ion-label>Verdadero</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="respuestaVerdadero"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Falso</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="respuestaFalso"></ion-checkbox>
    </ion-item>
  </ion-list>
  <ion-button expand="block" color="primary" (click)="checkAnswer()">Enviar Respuesta</ion-button>
</ion-content>
