<ion-header>
  <ion-toolbar color="light"> <!-- Cambiado a un color claro -->
    <ion-title>Nivel Uno</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="button-grid">
    <ion-card class="button-card button-1" [routerLink]="['/nivel-uno.1']" color="secondary">
      <ion-card-header>
        <ion-card-title>I</ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card class="button-card button-2" [routerLink]="['/nivel-uno.2']" color="secondary">
      <ion-card-header>
        <ion-card-title>II</ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card class="button-card button-3" [routerLink]="['/nivel-uno.3']" color="secondary">
      <ion-card-header>
        <ion-card-title>III</ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card class="button-card button-4" [routerLink]="['/nivel-uno.4']" color="secondary">
      <ion-card-header>
        <ion-card-title>IV</ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card class="button-card button-5" [routerLink]="['/nivel-uno.5']" color="secondary">
      <ion-card-header>
        <ion-card-title>V</ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card class="button-card button-6" [routerLink]="['/nivel-uno.6']" color="secondary">
      <ion-card-header>
        <ion-card-title>VI</ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card class="button-card button-7" [routerLink]="['/nivel-uno.7']" color="secondary">
      <ion-card-header>
        <ion-card-title>VII</ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card class="button-card button-8" [routerLink]="['/nivel-uno.8']" color="secondary">
      <ion-card-header>
        <ion-card-title>VIII</ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>
