<ion-header>
  <ion-toolbar>
    <ion-title>Nivel Cinco</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-progress-bar [value]="progress"></ion-progress-bar>

  <div class="image-container">
    <img src="assets/img/nivel-cinco-5.png" alt="Imagen del Nivel">
  </div>

  <div class="button-container">
    <ion-button expand="block" color="secondary" (click)="handleCorrectAnswer()">CORRECTA</ion-button>
    <ion-button expand="block" color="secondary" (click)="handleIncorrectAnswer()">FALSO 1</ion-button>
    <ion-button expand="block" color="secondary" (click)="handleIncorrectAnswer()">FALSO 2</ion-button>
    <ion-button expand="block" color="secondary" (click)="handleIncorrectAnswer()">FALSO 3</ion-button>
  </div>
</ion-content>
