<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="form-container">
    <!-- Agregar logo aquí -->
    <img src="assets/img/Logo.jpg" alt="Logo" class="logo" />

    <form (submit)="onLogin()">
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" name="email" [(ngModel)]="loginData.email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" name="password" [(ngModel)]="loginData.password"></ion-input>
      </ion-item>

      <!-- Deshabilitar el botón si no se han ingresado ambos campos -->
      <ion-button expand="full" type="submit" [disabled]="!loginData.email || !loginData.password">Iniciar Sesión</ion-button>
    </form>

    <div class="ion-text-center">
      <p>No tienes una cuenta? <a routerLink="/register">Regístrate aquí</a></p>
    </div>
    <div class="ion-text-center">
      <p>Olvidaste tu contraseña? <a routerLink="/recuperar">Recuperala</a></p>
    </div>
  </div>
</ion-content>
