<ion-header>
  <ion-toolbar>
    <ion-title>Detalles de Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card *ngIf="usuario">
    <ion-img [src]="usuario.foto_perfil || 'assets/default-user.png'" class="logo"></ion-img>
    <ion-card-header>
      <ion-card-title>{{ usuario.nombre }}</ion-card-title>
      <ion-card-subtitle>{{ usuario.email }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>Progreso: {{ progreso }}%</p>
      <ion-item>
        <ion-label>Razón de baneo</ion-label>
        <ion-input [(ngModel)]="razonBaneo" placeholder="Escribe la razón"></ion-input>
      </ion-item>
      <ion-button expand="block" color="danger" (click)="cambiarEstadoBaneo()">
        {{ usuario.baneo ? 'Desbanear' : 'Banear' }}
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
