<ion-header>
  <ion-toolbar>
    <ion-title>Gestión de Usuarios y Niveles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="usuarios.length === 0" class="no-usuarios">
    <p>No hay usuarios disponibles.</p>
  </div>
  <ion-list *ngIf="usuarios.length > 0">
    <ion-item *ngFor="let usuario of usuarios">
      <ion-label>
        <h2>{{ usuario.nombre }}</h2>
        <p>{{ usuario.email }}</p>
        <p>{{ usuario.id }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <div *ngIf="niveles.length === 0" class="no-niveles">
    <p>No hay niveles disponibles.</p>
  </div>
  <ion-list *ngIf="niveles.length > 0">
    <ion-item *ngFor="let nivel of niveles">
      <ion-label>
        <h2>{{ nivel.nombre }}</h2>
        <p>Total de Subniveles: {{ nivel.total_subniveles }}</p>
        <p>acceso {{ nivel.acceso }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
