<ion-header>
  <ion-toolbar>
    <ion-title>Nivel Tres</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-progress-bar [value]="progress"></ion-progress-bar>

  <h2>Situación: Saludo</h2>
  <p>Te encuentras con un amigo en la calle. ¿Cómo lo saludarías?</p>
  
  <div class="options-container">
    <ion-item (click)="verificarRespuesta('A')" class="top-left">
      <img src="assets/img/nivel-uno-1.png" alt="Opción A">
    </ion-item>
    <ion-item (click)="verificarRespuesta('B')" class="top-right">
      <img src="assets/img/nivel-uno-2.png" alt="Opción B">
    </ion-item>
    <ion-item (click)="verificarRespuesta('C')" class="bottom-left">
      <img src="assets/img/nivel-uno-3.png" alt="Opción C">
    </ion-item>
    <ion-item (click)="verificarRespuesta('D')" class="bottom-right">
      <img src="assets/img/nivel-uno-4.png" alt="Opción D">
    </ion-item>
  </div>
</ion-content>
