<ion-header>
  <ion-toolbar>
    <ion-title>
      Niveles
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-button expand="full" (click)="debugAccess()">Debug Acceso</ion-button>
  
  <ng-container *ngIf="niveles && niveles.length > 0">
    <ion-card *ngFor="let nivel of niveles"
              [color]="nivel.acceso === 'true' ? 'secondary' : 'light'" 
              (click)="nivel.acceso === 'true' ? irANivel(nivel.idnivel) : presentAlert('Acceso Denegado', 'Este nivel está bloqueado.')"
              class="level-card">
      <ion-card-header>
        <ion-card-title>{{ nivel.nombre }}</ion-card-title>
        <ion-card-subtitle>Dificultad: {{ nivel.dificultad }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-icon [name]="nivel.acceso === 'true' ? 'lock-open-outline' : 'lock-closed-outline'" 
                  slot="end"></ion-icon>
      </ion-card-content>
    </ion-card>
  </ng-container>

  <ng-container *ngIf="niveles.length === 0">
    <ion-item>
      <ion-label>No hay niveles disponibles</ion-label>
    </ion-item>
  </ng-container>
</ion-content>
