h1 {
    font-size: 5rem;
    color: #ff4a4a;
  }
  
  p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  ion-button {
    --background: #3880ff;
  }
  .centered-gif {
    display: block;
    margin: 0 auto 20px; /* Centrado horizontal con margen inferior */
    max-width: 200px; /* Ajusta el tamaño máximo de la imagen según lo que necesites */
    height: auto;
  }
  